/test-output/
/target/
/Screenshots/
/.classpath
/.settings
/.project
/allure-results
/spark
/recordings
/.apt_generated/
/.apt_generated_tests/
/Results
/src/main/java/facebookPagesPackage/
/src/test/java/FacebookTests/
/src/test/java/testPackage/extensionTest.java

.vscode