<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="TestChrome">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="basePackage.ProjectBaseOne" />
			<class name="testPackage.SampleTests" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TestEdge">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="basePackage.ProjectBaseOne" />
			<class name="testPackage.SampleTests" />
		</classes>
	</test>
</suite> <!-- Suite -->
